.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #c4c4c4;
}

.title {
    margin: 0;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 10px;
    font-weight: 500;
}

.rightSection {
    display: flex;
    align-items: center;
}

.logoutButton {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logoutButton:hover {
    background-color: #005fa3;
}

.linkComp {
    text-decoration: none;
}

.logo {
    height: 50px;
}

.link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
    margin-right: 10px;
    cursor: pointer;
}

.link:hover {
    background-color: #ccc;
}

.cardCount {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
